//Fuentes y textos// 

h1{font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: $color-blanco ;
    position: relative;
    text-align: center;
}

h2 {font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: $color-blanco ;
    background: rgb(187, 156, 138) ;
    position:relative;
    text-align: center;
}

p{
    background:rgb(215, 179, 158);
    position: relative;
    text-align: center;
}