//Head//

header{
    width: 100% ;
    height: 800px ;
    background: rgb(160, 160, 160);
    background:  url(../img/molino.png); 
    background-size: cover ;
    background-attachment: fixed ;
    position: relative ;
}

header .textos-header{
    display: flex ;
    height: 420px ;
    width: 80% ;
    align-items: center ;
    justify-content: center ;
    flex-direction: column ;
    text-align: center ;

}