//Varios//
.wrapper{

    margin-top: 30px ;
}


.weight{

    margin-top: -65px ; 
    transition: all 0.5s ;  
}

.weight small{

    color: #e2dede ;
}

.buttons {
        padding: 10px ;
    background-color: #d6d4d44f ;
    border-radius: 4px ;
    position: relative ;
    margin-top: 7px ;
    opacity: 0 ;
    transition: all 0.8s ;
}

.dot {
    height: 14px ;
    width: 14px ;
    background-color: green ;
    border-radius: 50% ;
    position: absolute ;
    left: 27% ;
    display: flex ;
    justify-content: center ;
    align-items: center ;
    font-size: 8px ;
    color: $color-blanco;
    opacity: 0 ;
}


.wave{ 
position: absolute ;
bottom: 0 ;
width: 100% ;
}


* {
    box-sizing: border-box ;
}


*{
    padding: 0 ;
    margin: 0 ;
    text-decoration: none ;
    list-style: none ;
    box-sizing: border-box ;
}