$color-primario:rgb(180,58,58);
$color-secundario:linear-gradient(90deg, rgba(180,58,58,1) 0%, rgba(252,117,44,1) 51%, rgba(252,176,69,1) 100%);
$color-texto:black;
$color-blanco: white;
$color-negro:black;

$espaciado-estandar:1rem;
$espaciado-doble:20px;

$fuente-normal:1em;
$fuente-pequena:0.8em;
$fuente-grande:1.4em;

$tipografia-general:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
$tipografia-alternativa:'Times New Roman''Serif'

$centrado:center;